<pre class="gs-output line-numbers"><code class="language-css"></code></pre>

<template class="gs-css-template">
{% verbatim %}
{% set grid_breakpoint_tablet = grid_breakpoint_tablet %}
{% set grid_breakpoint_desktop = grid_breakpoint_desktop %}
{%- set grid_columns_mobile = grid_columns_mobile -%}
{%- set grid_column_gap_mobile = grid_column_gap_mobile -%}
{%- set grid_row_gap_mobile = grid_row_gap_mobile -%}
{%- set grid_columns_tablet = grid_columns_tablet -%}
{%- set grid_column_gap_tablet = grid_column_gap_tablet -%}
{%- set grid_row_gap_tablet = grid_row_gap_tablet -%}
{%- set grid_columns_desktop = grid_columns_desktop -%}
{%- set grid_column_gap_desktop = grid_column_gap_desktop -%}
{%- set grid_row_gap_desktop = grid_row_gap_desktop -%}
{%- set equal_column_selector %}
  :where(
    {%- for factor in factors -%}
      {% if loop.index != 1 %}, {% endif -%}.gs--ec{{ factor }}
    {%- endfor -%}
  ) > *
{%- endset -%}
{%- set fraction_column_selectors %}
  {%- for fraction in range(0, grid_columns_desktop) -%}
    {% set fraction1 = fraction + 1 %}
    .gs__cs{{ fraction1 }}{% if fraction1 != grid_columns_desktop %}, {% endif %}
  {%- endfor -%}
{%- endset -%}
/**
 * BH Grid System
 *
 * This file contains a grid system using {{ grid_columns_desktop }} columns.
 */
.gs {
  --gs-grid-column-gap: {{ grid_column_gap_mobile }};
  --gs-grid-row-gap: {{ grid_row_gap_mobile }};
  --gs-grid-columns: {{ grid_columns_mobile }};
  --gs-grid-columns-actual: calc(2 * var(--gs-grid-columns));
  /* Everything has {{ grid_columns_mobile }} column at mobile sizes. */
  --gs-grid-column-span: calc(var(--gs-grid-columns-actual) / {{ grid_columns_mobile }});

  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: var(--gs-grid-column-gap);
  grid-row-gap: var(--gs-grid-row-gap);
  grid-template-columns: repeat(var(--gs-grid-columns-actual), 1fr);
}

{{ equal_column_selector }}, {{ fraction_column_selectors }} {
  grid-column: span var(--gs-grid-column-span);
}

@media screen and (width >= {{ grid_breakpoint_tablet }}) {
  .gs {
    --gs-grid-column-gap: {{ grid_column_gap_tablet }};
    --gs-grid-row-gap: {{ grid_row_gap_tablet }};
    --gs-grid-columns: {{ grid_columns_tablet }};
    /* Everything has {{ grid_columns_tablet }} columns at tablet sizes. */
    --gs-grid-column-span: calc(var(--gs-grid-columns-actual) / {{ grid_columns_tablet }});
  }
}

@media screen and (width >= {{ grid_breakpoint_desktop }}) {
  .gs {
    --gs-grid-column-gap: {{ grid_column_gap_desktop }};
    --gs-grid-row-gap: {{ grid_row_gap_desktop }};
    --gs-grid-columns: {{ grid_columns_desktop }};
  }

  /* Equal-column cells */
  {% for factor in factors %}
    {%- if factor != 1 -%}
      .gs--ec{{ factor }} > * { --gs-grid-column-span: {{ 2 * grid_columns_desktop / factor }}; }
    {%- endif %}
  {% endfor %}
  /* Column-spanning cells */
  {% for fraction in range(0, grid_columns_desktop) %}
    {%- set fraction1 = fraction + 1 -%}
    .gs__cs{{ fraction1 }} { --gs-grid-column-span: {{ 2 * fraction1 }}; }
  {% endfor %}
}
{% endverbatim %}
</template>
