<div class="gs-fragment">
  <h3>Equal-width cells</h3>
  {% for factor in columns_desktop_factors %}
    <div class="gs gs--ec{{ factor }}">
      {%- if factor != 1 -%}
        {% for cell in range(0, factor) %}
          <div><sup>1</sup> / <sup>{{ factor }}</sup></div>
        {% endfor %}
      {%- endif %}
    </div>
  {% endfor %}

  <h3>Column-spanning cells</h3>
  <div class="gs">
    {% for span0 in range(0, grid_columns_desktop) %}
      {% set span = span0 + 1 %}
      {% set span2 = grid_columns_desktop - span %}
      {% set label = [span, ("col" if span == 1 else "cols")]|join(" ") %}
      <div class="gs__cs{{ span }}">{{ label }}</div>
      {% if span2 != 0 %}
        {% set label2 = [span2, ("col" if span2 == 1 else "cols")]|join(" ") %}
        <div class="gs__cs{{ span2 }}">{{ label2 }}</div>
      {% endif %}
    {% endfor %}
    <div class="gs__cs3">3 cols</div>
    <div class="gs__cs5 gs__ae">5 cols, align-end</div>
    <div class="gs__cs7 gs__ac">7 cols, align-center</div>
  </div>
</div>
