<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ meta_description }}">
  <title>CSS Grid Generator</title>
  {% linksFromManifest 'src/components/GridSystem.jsx' %}
</head>
<body>
  {{ content|raw }}
  {% include "../sections/footer.liquid" %}
</body>
</html>
