---
layout: layouts/base.liquid
columns: 12
grid_breakpoint_tablet: 48rem
grid_breakpoint_desktop: 60rem
grid_columns_mobile: 1
grid_column_gap_mobile: var(--column-gap-mobile, 0.75rem)
grid_row_gap_mobile: var(--row-gap-mobile, 0.5lh)
grid_columns_tablet: 2
grid_column_gap_tablet: var(--column-gap-tablet, 1.125rem)
grid_row_gap_tablet: var(--row-gap-tablet, 0.75lh)
grid_columns_desktop: 12
grid_columns_desktop_factors: "2,3,4,6,12"
grid_column_gap_desktop: var(--column-gap-desktop, 1.5rem)
grid_row_gap_desktop: var(--row-gap-desktop, 1lh)

meta_description: "BH Grid System Generator"
---

<main>
  <h1>CSS Grid Generator</h1>
  <div data-component="grid-system"></div>
  {% scriptFromManifest 'src/_includes/components/GridSystem.jsx' %}
</main>
